.btn-primary {
    background-color: #3A0D15;
    width: 100px;

}
.btn-secondary {
    background-color: #610a1b;
    width: 100px;
    border: black;
}
.btn-success {
    background-color: #9c0d02;
    width: 100px;
    border: black;
}
.btn-danger {
    background-color: #dd7b2c;
    width: 100px;
    border: black;
}
.btn-warning {
    background-color: #f0b94e;
    width: 100px;
    border: black;
}

.btn {
    border: black;
}


